
.autocomplete {
    position: relative;
    background-color: var(--clr-dashboard-canvas);
    padding: 4px;
}

.autocomplete.autocompleteBordered {
    border: var(--border-accent);
    border-radius: 5px;
}

.autocomplete.autocompleteIsFocused {
    outline: 1px solid var(--clr-dashboard-accent);;
}


.textField label.optionsLabel {
    display: flex;
    margin: 0;
    padding-right: 0.5em;
    /* border: 1px solid black; */
}

.optionsLabel:hover {
    cursor: text;
}

.selectedOptions,
.optionsCount,
.firstOption {
    background-color: #E6F5F4;
    border-radius: 5px;
    display: inline-block;
    padding: 0.5em;
    font-size: var(--fs-100);
    margin-right: 0.4em;
}

.textField .optionsLabelInput {
    background-color: transparent;
    border: none;
}

.optionsLabelInput.hasOptions {
    width: 45%;
}

.textField .optionsLabelInput:focus,
.textField .optionsLabelInput:focus-visible,
.textField .optionsLabelInput:active {
    outline: none;
}

.autocompleteToggle {
    position: absolute;
    right: 0;
    top: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 0;
}

.autocompleteDrop {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    max-height: 300px;
    z-index: 5;
    background-color: var(--clr-dashboard-bg);
    overflow: auto;
    border-radius: 5px;
    box-shadow: var(--shadow);
    padding: 0.5em .9em;
}

.autocompleteDrop ul {
    padding: 0;
    margin: 0;
}

.autocompleteDrop li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.autocompleteDrop .noOptions,
.autocompleteDrop li span {
    font-size: var(--fs-200);
}

.autocompleteDrop .selectedIcon {
    color: var(--clr-dashboard-accent);
}

.optionActionsBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.optionActionsBtn .btnRemove,
.optionActionsBtn .btnSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E6F5F4;
    color: var(--clr-dashboard-accent);
    height: 20px;
    width: 20px;
    padding: 0;
    border-radius: 100%;
    cursor: pointer;
}

.optionActionsBtn .btnRemove {
    background-color: rgb(251, 229, 229);
}
