.header {
  background-color: var(--clr-dashboard-canvas);
  border: 1px solid #1313131A;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 10px;
}

.headerRight,
.headerLeft {
  --gap: 0.5em;

  display: flex;
  align-items: center;
  gap: var(--gap);
}

.headerRight {
  --gap: 1.5em;
  padding-right: .5em;
}

.headerName {
  margin: 0;
  padding: 0;
  font-size: var(--fs-100);
}

.headerText {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

.headerTextBtn {
  border: none;
  padding: 0;
  background-color: transparent;
  color: #131313B2;
}

.headerTextBtn:hover {
  color: #131313;
}

.headerIconsSearch,
.headerIconsElipsis {
  color: #131313B2;
  cursor: pointer;
}

.headerIconsSearch {
  font-size: var(--fs-100);
}

.groupUsers {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: var(--clr-dashboard-active-chat-bg);
  padding: 1px 5px;
}

.divider {
  background-color: #131313;
  height: 28px;
  width: 1px;
}

.addUsers {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 10px;
  width: 500px;
}

.addUsers button {
  padding: 10px 1em;
  align-self: flex-end;
}
