.wrapper {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: 9px 2em;
}

.editor {
  flex: 1;
  background-color: #D4D4D4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 0.5em;
}

.editorInput {
  flex: 1;
  padding: 0 1em;
  border: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: var(--fs-100);
}