.wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5em;
  padding: 9px 0.8em;
}

.editor {
  background-color: var(--clr-dashboard-natural);
  border-radius: 10px;
  display: flex;
  /* align-items: center; */
  gap: 0.3em;
}

.editor span,
.editor button {
  background-color: transparent;
  border: none;
  outline: none;
  align-self: start;
  padding-inline: 8px;
  padding-block: auto;
}

.editor button {
  margin-left: auto;
}


.editorInput {
  flex: 1;
  max-height: 150px;
  padding: 0.5em;
  border: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: var(--fs-200);
  resize: none;
}



/* .share,
.voice {
  border: 1px solid yellow;
} */