.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.profileImg {
  position: relative;
}

.filePicker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  bottom: -15px;
  right: -10px;
}

.filePicker input {
  display: none;
}

.content > * + * {
  margin-top: 1em;
  border-top: 1px solid var(--clr-dashboard-border);
}

.closeButton {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.userInfo,
.userGroups,
.attachments,
.acctSettings,
.password {
  margin-bottom: 0.5em;
  padding: 0 0.8em;
  padding-top: 1em;
}

.userInfo h3,
.userInfo p,
.userGroups h3,
.userGroups p,
.attachments h3,
.acctSettings h3,
.acctSettings span,
.password p,
.password h3 {
  font-size: var(--fs-200);
  margin: 0;
}

.userInfo h3,
.userGroups h3,
.attachments h3,
.acctSettings h3,
.password h3 {
  margin-bottom: 0.8em;
}

.userInfo p {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  color: #13131380;
  font-weight: var(--fw-title);
}
  
.value {
  display: block;
  font-weight: var(--fw-title);
  color: var(--clr-dashboard-text);
}
  
.value.bordered {
  border-bottom: var(--db-divider);
}

.value input {
  padding: 0;
  width: 100%;
  border: none;
}

.value input::placeholder {
  font-size: 13px;
}

.value input:disabled {
  background-color: transparent;
}

.value input:focus-visible {
  outline: none;
}

.acctSetting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--clr-dashboard-text);
  padding: 0 0.5em;
}

.acctSetting:hover {
  background-color: var(--clr-dashboard-hover-chat-bg);
}

.acctSettings button {
  border-radius: 5px;
  width: 100%;
  background-color: var(--clr-secondary);
  border: none;
  color: var(--clr-dashboard-danger);
  cursor: pointer;
}

.acctSettings button:hover {
  opacity: 0.7;
  background-color: var(--clr-secondary);
}

.groupsList,
.filesList {
  padding: 0;
  margin: 0;
}

.groupsList li {
  font-size: var(--fs-100);
  font-weight: var(--fw-title);
  margin-top: 0.2em;
}

.toggle {
  --gap: 0.5em;

  font-size: var(--fs-100);
  font-weight: var(--fw-title);
}

.files {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.filesList {
  --gap: 0.3em;

  display: flex;
  gap: var(--gap);
  margin: 0.5em 0;
}

.viewMore {
  height: 100%;
  font-size: var(--fs-100);
  font-weight: var(--fw-title);
  background-color: var(--clr-dashboard-natural);
}

.formButtons {
  margin-top: auto;
  margin-bottom: 0.5em;
  padding-inline-end: 0.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
}

.formButtons button {
  padding-block: 0.2em;
}

.formButtons button:hover {
  opacity: 0.9;
}