.form > * + * {
    margin-top: 0.8em;
}

.formGroup label {
    display: block;
    font-size: var(--fs-100);
    margin-bottom: 0.5em;
}

.formGroup input {
    font-size: var(--fs-200);
    font-weight: var(--fw-medium);
    border: var(--border-accent);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.formGroup input::selection {
    background-color: var(--clr-dashboard-active-chat-bg);
}

.formGroup input[type="file"] {
    display: none;
}

.formGroup input:focus,
.formGroup input:focus-visible,
.formGroup input:active {
    outline-color: var(--clr-dashboard-accent);
}

.upLoadArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upLoadArea label {
    display: block;
    height: 150px;
    width: 100%;
    text-align: center;
    text-justify: center;
    font-size: var(--fs-200);
    color: var(--clr-dashboard-natural);
    padding: 2em 0.5em;
    cursor: pointer;
    border: 4px dashed var(--clr-dashboard-natural);
    transition: all 0.3s;
}

.upLoadArea label:hover {
    border-color: var(--clr-dashboard-accent);
}

.upLoadArea label svg {
    padding: 0.5em;
    background-color: #E6F5F4;
}

.upLoadArea label span {
    color: var(--clr-dashboard-accent);
    display: block;
    margin-top: 1rem;
}

.formGroup .copyLink {
    position: relative;   
}

.formGroup .copyLink input {
    padding-block: 8px;
    font-size: var(--fs-100);
}

.btnCopy {
    background-color: #E6F5F4;
    position: absolute;
    right: 5px;
    top: 3px;
    z-index: 2;
    padding: 3px 8px;
}

.btnCopy:hover {
    outline: 1px solid var(--clr-dashboard-accent);
}

.btnCopy span {
    display: inline-block;
    font-size: var(--fs-100);
    margin-right: 0.3em;
    font-weight: var(--fw-medium);
}

.formButtons {
    display: flex;
    justify-content: space-evenly;
}

.formButtons button {
    width: 43%;
    padding: .4em;
}