.quickActionBtn {
    padding: 0.2em 0.5em;
}

.tasks {
    padding: 1em;
    display: grid;
    gap: 1em;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    place-items: center;
    align-content: stretch;
}

.task {
    padding: 1em 0.5em;
    border-radius: 10px;
    background-color: var(--clr-dashboard-active-chat-bg);
    font-size: var(--fs-100);
    transition: all 0.3s;
}

.task:hover {
    background-color: var(--clr-dashboard-hover-chat-bg);
    cursor: pointer;
}

.taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8em;
}

.taskHeader h5 {
    font-size: var(--fs-100);
    font-weight: var(--fw-medium);
    font-family: var(--ff-title);
    margin: 0;
}

.taskFooter,
.taskBody {
    font-size: var(--fs-200);
    font-weight: var(--fw-medium);
}

.taskDueDate,
.taskStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 5px;
    border: var(--border-accent);
    color: var(--clr-dashboard-accent);
}

.taskStatusTodo {
    color: var(--clr-dashboard-danger);
    border-color: var(--clr-dashboard-danger);
}

.taskStatusInProgress {
    color: var(--clr-dashboard-natural);
    border-color: var(--clr-dashboard-natural);
}

.taskStatusDone {
    color: var(--clr-dashboard-accent);
    border-color: var(--clr-dashboard-accent);
}

.priority {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.priorityHigh {
    color: var(--clr-dashboard-danger);
}

.priorityMedium {
    color: var(--clr-dashboard-accent);
}

.priorityLow {
    color: var(--clr-dashboard-natural);
}

.taskDivider {
    border: var(--border);
}

.taskRange {
    margin: 0.8em 0;
}

.taskRange span {
    font-size: var(--fs-100);
    font-weight: var(--fw-medium);
}

.taskRangeBar {
    height: 8px;
    border-radius: 5px;
    border: var(--border-accent);
    background: #ffffff;
}

.taskRangeProgress {
    height: 100%;
    border-radius: 5px;
    background: var(--clr-dashboard-accent);
}


.tasksHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--db-divider);
    padding: 0.2em 1em;
}

.addTask {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.addTaskBtn {
    font-size: var(--fs-200);
    font-weight: var(--fw-medium);
    padding: 0.2em 1em;
}

.tasksFilter {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.tasksSearch {
    display: flex;
    align-items: center;
    padding: 0.2em 0.5em;
    gap: 0.3em;
    border-radius: 5px;
    border: var(--db-divider);
}

.tasksSearch.isFocused {
    border: var(--border-accent);
    border-width: 2px;
}

.addTask input,
.tasksSearch input {
    font-size: var(--fs-200);
    width: 165px;
    border: none;
    background-color: inherit;
    border-radius: 5px;
}

.addTask input {
    padding: 0.2em 0.5em;
    outline: var(--db-divider);
}

.addTask input:focus {
    outline: var(--border-accent);
    outline-width: 2px;
}

.tasksSearch input:focus {
    outline: none;
}

.tasksSearch input:focus .tasksSearch {
    border: var(--border-accent);
}

.addTask input::placeholder,
.tasksSearch input::placeholder {
    font-size: var(--fs-100);
}

.addTask input::placeholder,
.tasksSearch input::placeholder,
.actionsIcon {
    color: var(--clr-dashboard-txt-muted);
}
