.modalContentBackdrop {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  z-index: 5;
}

.modalContentHidden {
  display: none;
}

.modalContentShow {
  display: block;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5em;
}

.modalHeader h2 {
  flex: 1;
  margin: 0;
  padding: 0;
  font-size: var(--fs-300);
  text-align: center;
}

.modalToggle {
  text-align: left;
  font-size: var(--fs-100);
  padding: 0;
  width: 100%;
}

.modalClose {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border: var(--border-accent);
}

.modalContent {
  background-color: var(--clr-dashboard-bg);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid var(--clr-dashboard-border);
  width: 80%;
  width: min(80%, 500px);
  border-radius: 10px;
  position: relative;
  z-index: 100;
}