.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-top: 1rem;
  background-color: var(--clr-dashboard-canvas);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: var(--dashboard-left-width);
  height: 100vh;
  overflow-y: auto;
  border-right: var(--db-divider);
}

.navHeader {
  padding-top: 2em;
}

.navSearch {
  border: var(--border);
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-inline: auto;
  width: 60%;
  padding: 0.23em 0.8em;
}

.navSearchIcon {
  font-size: var(--fs-200);
}

.navSearchInput {
  font-size: var(--fs-200);
  font-weight: var(--fw-body);
  border: none;
  outline: none;
  display: inline;
  width: 90%;
  background-color: var(--clr-dashboard-canvas);
  color: var(--clr-dashboard-text);
}

.navContent {
  height: 95%;
  overflow-y: auto;
  padding: 0 0.2em;
}

.navList {
  padding: 0;
  margin: 0;
}

.navItem {
  display: flex;
  align-items: center;
}

.navLink {
  color: var(--clr-dashboard-text);
  text-decoration: none;
  padding: 0.5em;
  width: 100%;
}

.navLinkActive {
  border: var(--border);
  border-radius: 15px;
  background-color: var(--clr-dashboard-active-chat-bg);
}

.groupContact,
.sender {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}

.visuals,
.senderImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visualsIcon {
  height: 20px;
  width: 20px;
}

.senderStatus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: var(--clr-dashboard-accent);
  z-index: 1;
}

.senderInfo {
  flex: 1;
}

.senderInfo p,
.senderInfo h3 {
  display: flex;
  justify-content: space-between;
}

.groupTitle,
.senderInfo h3 {
  font-size: var(--fs-100);
}

.senderInfo p {
  margin-top: 0.3em;
  font-size: 10px;
}

.senderTime {
  margin-left: 0.8em;
  font-size: 8px;
}

.groupMsgCount,
.senderLastMsgCount {
  background-color: var(--clr-dashboard-accent);
  color: var(--clr-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  height: 14px;
  width: 14px;
}

.groupMsgCount {
  margin-left: auto;
}

.groupIsPublic {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 8px;
  height: 5px;
  width: 5px;
  color: var(--clr-dashboard-accent);
}

.project {
  padding: 0.2em 0.5em;
  color: var(--clr-dashboard-text);
  width: 100%;
}

.project:hover,
.createBoard:hover {
  background-color: var(--clr-dashboard-hover-chat-bg);
}

.projectLink {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.projectIsActive {
  border: var(--border-accent);
  border-radius: 10px;
  background-color: var(--clr-dashboard-active-chat-bg);
}

.projectIsActive:hover {
  background-color: var(--clr-dashboard-active-chat-bg);
}

.project summary {
  font-size: var(--fs-200);
  font-weight: var(--fw-medium);
  font-family: var(--ff-title);
  list-style-type: none;
}

.project[open] .projectIcon {
  transform: rotate(180deg);
}

.project summary > :first-child {
  padding: 0;
}

.project summary:hover {
  cursor: pointer;
}

.taskList {
  padding-left: 10px;
}