.MainContainer  {
  display: grid;
  grid-template-columns: 1fr auto;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 52px);
}

.contentWrapperInner {
  flex: 1;
  padding: 1em;
  overflow-y: auto;
}

.posts,
.messages {
  margin: 0;
  padding: 0;
}

.posts > li + li,
.messages > li + li {
  margin-top: 1em;
}

/* .posts > li,
.messages > li {
  border: 1px solid #ccc;
} */

.toggleProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
