.wrapper {
  /* border-left: 1px solid var(--clr-dashboard-border); */
  display: flex;
  flex-direction: column;
  /* background-color: var(--clr-dashboard-canvas);
  width: var(--dashboard-right-width);
  border: 1px solid red; */
}

.header {
  border-bottom: 1px solid var(--clr-dashboard-border);
  padding: 0.5em;
}

.header p {
  font-size: var(--fs-100);
  margin-top: 0.5em;
}

.title {
  font-size: var(--fs-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.content {
  padding: 0.5em 0;
}